@font-face {
    font-family: 'Russo One';
    src: url('fonts/RussoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans Bold';
    src: url('fonts/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-SemiBold.ttf') format('truetype');
}

body {
    background-color: black;
}

.cabecalho, .contato {
    background-color: white;
}

.cabecalho h1 {
    color: #2D3192;
    font-family: "Russo One";
    font-weight: bold;
    font-size: 45px;
    margin: 5px;
}

.maganga-roxo {
    color: #90225F;
}

.botao_menu {
    height: 5.1rem;
    width: 15%;
    font-family: "Bebas Neue";
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.botao_icone_celular {
    height: 4rem;
    width: 4rem;
}

.botao_menu_celular {
    height: 4rem;
    width: 6rem;
    font-family: "Bebas Neue";
    color: white;
    border: none;
    border-radius: 10px;
    vertical-align: middle;
    margin: 5px 5px 5px 0;
}

.botao_azul {
    background-color: #29AAE1;
}

.botao_verde {
    background-color: #29CEA4;
}

.botao_laranja {
    background-color: #FF6B51;
}

.botao_amarelo {
    background-color: #FFC700;
}

.botao_rosa {
    background-color: #CF2669;
}

.barras {
    width: 100%;
    height: 100%;
}

.formulario {
    margin: 0 5px 0 5px;
}

.form-label {
    font-family: "Fira Sans";
}

.form-control {
    background-color: #DDDDDD;
    border-style: groove;
    border-color: #808080;
}

.textarea-wrapper {
    position: relative;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.textarea-container textarea {
    flex: 1;
    margin-bottom: 5px;
    margin-left: 8px;
}

.btn-enviar {
    position: absolute;
    bottom: 15px;
    right: 5px;
    font-family: "Fira Sans Bold";
    border-style: none;
    background-color: #DDDDDD;
}

.ic_redes_sociais {
    margin: 5px 5px 5px 5px;
}

.seta_cima {
    cursor: pointer;
}

.rodape {
    background-color: #383838;
}

.rodape p {
    color: white;
}

.tags {
    font-size: 13px;
    font-family: Poppins;
    text-align: center;
    color: #28A9E0 !important;
}

.texto_rodape {
    font-size: 14px;
    font-family: "Fira Sans";
    padding: 0 0 0 10rem;
}

.dados_rodape {
    color: #D2D2D2 !important;
}

.copyright {
    font-size: 14px;
    font-family: "Fira Sans Bold";
}

/*celular*/
@media (max-width: 600px) {
    .cabecalho h1 {
        font-size: 20px;
    }
}

/*computador*/
@media (min-width: 601px) {
    .copyright {
        white-space: nowrap;
        position: absolute;
        right: 25rem;
    }
}